@font-face {
  font-family: Inter;
  src: url(../fonts/Inter_24pt-Regular.ttf);
}
@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter_28pt-Bold.ttf);
}
:root {
  --primary-color:  #99f2da;
  --secondary-color:  #1d1c1c;
  --ternary-color: #ffffff;
  --button-primary-bg-color: var(--secondary-color);
  --button-secondary-bg-color: var(--primary-color);
  --button-primary-text-color: var(--primary-color);
  --button-secondary-text-color: var(--secondary-color);
  
  --font-family: "Inter", sans-serif;
  --font-family-bold: "InterBold", sans-serif;
  --font-size: 16px;
}

/* Generic styles **/

a {
  color: inherit;
  text-decoration: none;
}
ul {
    list-style: none;   
    margin: 0;
    padding: 0; 
}
p, h1 {
    margin: 0;
    padding: 0;
}
.body {
  font-family: var(--font-family);
}
.body--primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.body--secondary {
  background-color: var(--secondary-color);
  color: var(--ternary-color);
}
/*Locating the fill in svg using path */
.body--secondary svg path {
  fill: var(--primary-color);
}
.main {
  padding: 150px;
}
/* header/nav styles **/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px; /* horizontal spacing inside header */
  height: 80px;

  background-color: #111;  /* near black */
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

    /* Add shadow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color:  #222222; /* ensure it's not transparent */
  z-index: 1000;
}

.header__logo {
  grid-area: logo;
  font-family: var(--font-family-bold);
  font-size: 40px;
}
.nav {
  grid-area: nav;
  justify-self: end;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
}
.nav__list--item {
  font-size: 26px;
  margin-inline-end: 36px;
}

/* Hover effect for nav items */
.nav__list--item:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 8px;
  padding: 4px 8px;
  transition: 0.3s;
}

/* element styles **/
.button  {
    border: 4px solid var(--secondary-color);
    padding: 0rem 64px;
    font-size: 1.5rem;
    font-family: InterBold, sans-serif;
    height: 100px;
    cursor: pointer;
}

/* Hover effect for primary button */
.button--primary:hover,
.button--secondary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: 0.3s;
}