{% extends "_master.html" %}

{% block main %}
<main class="about">
  <section class="about__section">
    <h1 class="about__title">Who We Are 🎓</h1>
    <p class="about__text">
      As fresh graduates, we came up with an idea that helps millions during their online chase for the right product. We aim to make it right.
    </p>
  </section>

  <section class="about__section">
    <h1 class="about__title">What is My Primal Actually?</h1>
    <p class="about__text">
      We create content that helps people make better decisions. With advanced features like price tracking (currently in progress), we empower smarter online shopping.
    </p>
  </section>
</main>
{% endblock %}
