<footer class="footer">
  <div class="footer__left">
    &copy; My Primal Deals 2025
  </div>
  <div class="footer__center">
    <a class="btn-social" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
    <a class="btn-social" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
    <a class="btn-social" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="footer__right">
    <a class="footer__link" href="#!">Privacy</a>
    <a class="footer__link" href="#!">Terms</a>
  </div>
</footer>
